*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 0;
}
.agent_details {
    padding: 2rem 5px 0px 5px;

}
.agent_details .container-fluid {
    border: 1px solid #000;
    background-color: #e6eff4;
    border-radius: 5px;
    height: 240px;
}
.agent_details_col img{
    width: 120px;
    height: 80px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.agent_details_col span{
    display: flex;
    padding-left: 1rem;
}
.agent_details_col span p:first-child{
    font-weight: 600;
    padding-right: 5px;
}

/* COL SECOND START */
.agent_personal_col{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    margin-top: 2rem;
}
.agent_personal_col h2,.agent_details_col h2{
    font-weight: bold;
    font-size: 16px;
}
.agent_personal_col span{
    display: flex;
}
.agent_personal_col span p:first-child{
    font-weight: 600;
    padding-right: 5px;
}
/* THIRS COL CSS START */
.agent_details_col .btn_unverify{
    color: #fff;
    background: red;
    padding: 1px 10px;
    border-radius: 20px;
}
.agent_details_col .btn_verify{
    color: #fff;
    background: green;
    padding: 1px 15px;
    border-radius: 20px;
}
.agent_details_col .address_detail_col{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 0rem 4rem;
}


