body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E7F0F9 !important;
}

.log_out {
    background-color: #fff;
    color: #0747A9;
    border: 1px solid #fff;
    padding: 2px 8px 4px 8px;
    border-radius: 5px;
}

.log_out:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.loc_btn:hover {
    color: aqua !important;
}

.popup_close_btn {
    font-size: 1.6rem !important;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -25px;
}

.popup_close {
    font-size: 1.6rem !important;
    font-weight: 500;
    cursor: pointer;
}

.order_track_timline {
    height: 300px;
    scroll-behavior: smooth;
    /* scrollbar-width: 3px !important;
    scrollbar-color: #0747a9;
    overflow: -moz-scrollbars-vertical; */
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.40);
    padding: 5px;
    overflow-y: scroll;
}
.MuiTimelineOppositeContent-root {
    flex: 0 !important;
    padding: 6px 16px;
    text-align: left !important;
    margin-right: 2px !important;
}
.main_section {
    background: linear-gradient(77.42deg, #0747A9 -0.01%, #2277C9 94.19%);
    height: 100%;
}

.main_section .hero_section {
    position: relative;
    padding-bottom: 10rem;
}

.main_section .hero_section .hero_section-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
}

.hero_section .hero_section-div .txt_content {
    padding-top: 4rem;
}

.hero_section .hero_section-div .txt_content h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px !important;
    color: #fff;
}

.hero_section .hero_section-div .txt_content h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px !important;
    color: #0747A9;
    font-size: 50px;
    text-shadow: -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff;
}

.hero_section-div .img_content img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1003px) {

    .hero_section .hero_section-div .txt_content h3,
    .hero_section .hero_section-div .txt_content h4 {
        font-size: 54px !important;
        text-align: center;
        margin-right: 1rem;
    }

}

@media screen and (max-width: 1200px) {
    .hero_section .hero_section-div .img_content img {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .hero_section .hero_section-div .img_content img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .main_section {
        height: auto;
        padding-bottom: 5rem;
    }

    .hero_section .hero_section-div .txt_content {
        padding-top: 0rem;
        display: flex;
        justify-content: center;
    }

    .hero_section .hero_section-div .img_content img {
        width: 85%;
    }

    .main_section .hero_section .hero_section-div {
        display: block;
        margin-top: 10px;
    }

    .main_section .hero_section .hero_section-div .img_content {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .hero_section .hero_section-div .txt_content h1 {
        font-size: 20px;
    }

    .carrykar_steps img {
        height: auto;
        margin-top: 0px;
        width: 100%;
    }

    /* .hero_section .hero_section-div .img_content img {
        width: 70%;
        height: auto;
    } */

    .hero_section .hero_section-div .txt_content p {
        font-size: 12px;
    }

    .main_section {
        height: auto;
    }

    .main_section .hero_section .hero_section-div {
        margin-top: 60px;
    }
}


/* Menu Css */
/* .menu {
    margin-right: 120px;
    margin-left: 120px;
} */

.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .nav-logo .nav-link {
    padding-left: 0px;
}

.menu .nav-logo img {
    width: 170px;
    height: auto;
}

section.nav-sec {
    background-color: var(--color-blue);
    padding: 20px 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu .desktop-links {
    margin-top: -6px;
}

.menu .desktop-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .desktop-links ul li {
    margin-right: 3rem;
}

.menu .desktop-links ul .home_signup {
    margin-right: 0rem;
}

.menu .desktop-links ul .home_signup a {
    background-color: #fff;
    color: #0747A9;
    border: 1px solid #fff;
    padding: 2px 8px 4px 8px;
    border-radius: 5px;
}

a:not([href]):not([class]) {
    color: #fff;
    text-decoration: none;
}

.menu .desktop-links ul .home_signup a:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.menu .desktop-links ul .home_login a {
    background: transparent;
    border: 1px solid #fff;
    padding: 2px 16px 4px 16px;
    color: #fff;
    border-radius: 5px;
}

.menu .desktop-links ul .home_login a:hover {
    background: #fff;
    color: #0747A9;
}

.home_shipnow {
    background-color: #fff !important;
    color: #0747a9 !important;
    border: 1px solid #fff !important;
    padding: 2px 10px !important;
    border-radius: 5px !important;
}

.home_shipnow:hover {
    background-color: #0747a9 !important;
    color: #fff !important;
}

.menu a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.contact_us {
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.contact_us:focus {
    box-shadow: none;
    outline: none;
}

.menu li .dropdown-toggle {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.contact_us:hover {
    color: aqua;
    border-bottom: 1px solid #fff;
}

.menu .desktop-links a:hover {
    color: aqua;
}

.menu a.active {
    color: aqua;
}

/*SHIP  MODAL CSS START */
.ship_text {
    font-weight: 500 !important;
    font-size: 12px !important;
    margin-top: 1rem;
    text-align: center;
    color: #8C8C8C;
}

.package_text {
    font-weight: 600;
    font-size: 14px;
    color: #0747A9;
}

.package_waring_text {
    font-weight: 600;
    font-size: 12px;
    margin-top: 1rem;
    color: #8c8c8c;
    text-align: center;
}

.package_sub_text {
    font-weight: 600;
    font-size: 14px;
    margin-top: 2rem;
    text-transform: capitalize;
    color: #0747A9;
}

.ship_select_btns {
    background-color: #fff;
    color: #0747a9 !important;
    border: 1px solid #0747a9;
    border-radius: 20px;
    padding: 4px 10px;
    display: flex !important;
    justify-content: center !important;
    font-weight: normal !important;
    align-items: center;
    margin-right: 1rem;
}

.ship_select_btns.active {
    background-color: #0747a9;
    color: #fff !important;
}

.MuiStepper-root {
    display: flex;
    padding: 0px !important;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #3f51b5;
    display: block;
    width: 100%;
}

.MuiButton-containedPrimary:hover {
    color: #fff;
}

.address_btn {
    background-color: #0747A9 !important;
    border-radius: 40px;
    padding: 5px;
    color: #fff !important;
    margin: auto;
}

.address_modal h5 {
    font-size: 18px;
    font-weight: 600;
    color: #0747A9;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #0747A9;
    margin-bottom: 2rem;
}

/* BILLING DETAILS CSS START */
.billing_details {
    border-bottom: 1px dashed #333;
    padding: 16px 0px !important;
}

.billing_details h4,
.shipping_details h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.billing_details h4::after,
.shipping_details h4::after {
    content: '';
    display: block;
    width: 40%;
    border: 1px solid #8C8C8C;
}

.billing_details p,
.shipping_details p {
    font-size: 12px;
    font-weight: 500;
    color: #8c8c8c;
}

.shipping_details {
    padding: 16px 0px !important;
}

/* SHIP MODAL CSS ENDS */
/* dropdown css start */
.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown-menu a {
    display: block;
    color: #333;
    padding: 4px 2px;
}

.menu .dropdown-menu a:hover {
    color: #333;
    background-color: rgb(233, 245, 247);
    padding: 4px 2px;
}

.menu .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 6px;
    margin-top: 2px;
    z-index: 1;
    border-radius: 10px;
}

.menu .dropdown:hover .dropdown-menu {
    display: block;
}

.menu .dropleft-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 6px;
    margin-top: 2px;
    z-index: 1;
    border-radius: 10px;
}

.menu .dropleft:hover .dropdown-menu {
    display: block;
}

.nav-mobile {
    display: none;
}

.menu .nav-logo a.active {
    text-decoration: none;
    border: none;
}

.nav-mobile-div {
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    background: linear-gradient(77.42deg, #0747A9 -0.01%, #2277C9 94.19%);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.open_nav {
    background-color: transparent;
    color: #fff;
}

.close_navlinks {
    font-size: 27px;
    color: #000;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-mobile-links {
    margin-top: 90px;
}

.nav-mobile-links li {
    display: flex;
    justify-content: left;
    margin-bottom: 1.5rem;
    padding-left: 15px;
}

.nav-mobile-links li a:hover {
    color: aqua !important;
}

.nav-mobile-links li:last-child {
    margin-right: 0rem;
}

.nav-mobile-links li:last-child a {
    background-color: #0747A9;
    border: 1px solid #0747A9;
    padding: 2px 16px;
    font-weight: 400;
    border-radius: 5px;
}

.nav-mobile-links li:last-child a:hover {
    background: transparent;
}

.nav-mobile-links li:nth-child(6) a {
    background: #0747A9;
    border: 1px solid #0747a9;
    padding: 2px 20px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
}

.nav-mobile-links li:nth-child(6) a:hover {
    background: #fff;
    color: #0747A9 !important;
}


/* slide bottom start */


.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

/* trip_search form */
.trip_section {
    /* position: absolute;
    top: 95%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: -100px;
    margin-bottom: 4rem;
}

/* .trip_section .trip_section-bgc{
    
} */

.trip_search .card {
    width: 100%;
    padding: 0;
    box-shadow: 0px 0px 15px -1px rgb(181 179 181);
    border-radius: 10px;
}


/*  */

.trip_search_form .btn-group .radio {
    width: 100px;
}

.trip_search_form .btn-group .radio label {
    margin-left: 0;
}

/*  */


.trip_search_form .btn-group {
    display: flex;
    width: 100%;
}

.trip_search_form .btn-group .radio {
    margin-right: 2rem;
}



/* .trip_search_form .fswTabs button:focus {
    box-shadow: none;
    background-color: #1057B3;
} */



.trip_search .card button.active .btn_icn {
    background-color: #fff;
    color: #0747A9;
}

.trip_search_form .trp_form_submit .btn {
    color: #fff;
    background-color: #2277C9;
    padding: 4px 16px;
    border-radius: 5px;
    border: 1px solid #2277C9;
}

.trip_search_form .trp_form_submit .btn:hover {
    color: #2277C9;
    background-color: #fff;
}

.trip_search_form .trp_form_submit .btn:focus {
    box-shadow: none;
}

.trp_form_submit {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* form css start */
.trip_search .form-inline {
    margin-top: 2rem;
}

.trip_search .form-inline .row {
    align-items: center;
}

.trip_search .form-inline label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #9B9B9B;
}

.trip_search .form-inline img {
    width: 25px;
    height: auto;
}

.trip_search .form-inline .form-group:nth-child(2) {
    justify-content: center;
    display: flex;
}

.sechdule-date input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
}

.sechdule-date input[type="date"] {
    color: #ffffff;
}

.sechdule-date input[type="date"]:focus,
.sechdule-date input[type="date"]:valid {
    color: #666666;
}

.trip_search .form-inline input[type="date"]:focus::before,
.trip_search .form-inline input[type="date"]:valid::before {
    content: "";
}

.trip_search .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ababab;
    width: 100%;
    margin-bottom: 0;
    padding: 0px;
}

.trip_search .form-control {
    color: #b3b3b3;
}

.trip_search .form-control:focus {
    box-shadow: none;
}

.search_submit {
    padding: 4px 10px;
    background: #0E53B1;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0rem !important;
    border: 1px solid #0E53B1;
}

.search_submit:hover {
    color: #0E53B1;
    background-color: transparent;
    border: 1px solid #0E53B1;
}

.fswTabs {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

/* carrier_about_services css start */
.carrier_about_services {
    background: #E7F0F9;
    margin-top: -26rem;
}

.carrier_section {
    text-align: center;
    padding: 5rem;
    padding-top: 27rem;
}

.carrier_section h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #0849AA;
}

.carrier_section img {
    width: 60px;
    height: 60px;
}

.carrier_section .card-deck {
    padding-top: 3rem;
    width: 70%;
}

.carrier_section .card {
    box-shadow: 0px 0px 15px -1px rgb(181 179 181);
    border-radius: 10px;
}

.carrier_section .card .card-body {
    padding-top: 4rem;
}

.carrier_section .card p {
    margin-top: 2rem;
}

/* carrier css ends */

/* about_section css start */
.about_section {
    background: #1B6BC1;
    padding-top: 6rem;
    padding-bottom: 6rem;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%);
}

.about_section .container {
    position: relative !important;
}

.about_section .container .abt_img {
    position: absolute;
    /* top: 0; */
    bottom: -72px;
    right: 0;
    z-index: -999;
}

.about_section .container .abt_img img {
    width: 300px;
    height: auto;
}

.about_section .about_card img {
    width: 40px;
    height: 40px;
}

.about_section h2 {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 600;
}

.about_section h3 {
    color: white;
    font-size: 18px;
    margin-left: 0.6rem;
}

.about_section p {
    color: #fff;
    margin-top: 1rem;
}

/* about css ends */

/* service css start*/
.service_section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.service_section h2 {
    color: #0849AA;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
}

.img_ser img {
    width: 100px;
}

.service_section p {
    margin-left: 1rem;
}

.service_section .container {
    padding-left: 8rem;
    padding-right: 8rem;
}

/* service_section css ends */

/* carrykar_steps css start */
.carrykar_steps {
    background: #fff;
}

.carrykar_steps img {
    width: 100%;
    height: auto;
    margin-top: -55px;
}

.carrykar_steps .container {
    padding-top: 2rem;
    padding-left: 0;
}

.carrykar_steps p:nth-child(1) {
    color: #0849AA;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 24px;
}

.carrykar_steps p:nth-child(2) {
    color: #0849AA;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

/* operational css start */
.step_section {
    background: #ffff;
}

.carrykar_operations {
    background: #fff;
}

.home_footer .modal {
    border-radius: 10px;
}

.home_footer button.close {
    font-size: 2.5rem;
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 7px;
    z-index: 9999;
}

.become-part_btn {
    background: transparent;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.become-part_btn:hover {
    color: aqua;
}

/* become partner form css ends */
.operational {
    background: #1B6BC1;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 4rem;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%);
}

.operational .content .badge-warning {
    width: 80px;
    z-index: 9999;
    display: flex;
    position: absolute;
    top: 0%;
    background-color: #fff;
    color: #0747a9;
}


.slick-slide {
    outline: none;
    justify-content: center !important;
    text-align: center !important;
    display: flex !important;
}

.content img {
    width: 200px;
    height: auto;
    position: relative;
}

.content p {
    padding-top: 0.6rem;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width:767px) {
    .content img {
        width: 140px;
        height: auto;
        position: relative;
    }

    .content img {
        width: 100px;
        height: auto;
        position: relative;
    }

    .operational .content .badge-warning {
        font-size: 0.6rem;
        font-weight: 400;
        width: 55px;
        padding-bottom: 1px;
        padding-top: 2px;
    }

}

.operational h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
}

/* operational css ends */
.commuter_section {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.commuter_section .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
}

.commuter_section h2 {
    color: #1B6BC1;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
}

.commuter_banner img {
    width: 100%;
    height: auto;
}

.commuter_section .card {
    border: 1px solid #E9E9E9;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(181, 179, 181, 1);
    -moz-box-shadow: 0px 0px 15px -1px rgba(181, 179, 181, 1);
    box-shadow: 0px 0px 15px -1px rgba(181, 179, 181, 1);
    border-radius: 10px;
}

.commuter_section .card .card-t {
    display: flex;
    align-items: center;
}

.commuter_section .card .card-t p {
    padding-left: 1rem;
}

.commuter_section .become-btn {
    background: #0E53B1;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 3rem;
}

/* commuter_section css ends */
.quetion-section {
    background: #E7F0F9;
    padding-top: 6rem;
    padding-bottom: 6rem;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6%);
}

.quetion-section .card {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    background-color: #fff;
}

.quetion-heading h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.quetion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quetion-heading p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.quetion-heading .que-mark {
    width: 12rem !important;
    height: auto;
    float: right;
}

.que-link {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    justify-content: space-between;
}

.que-link:hover {
    text-decoration: none;
    color: #0747A9;
}

/* footer css start */
.homemainfooter {
    background: #0747A9;
    padding-bottom: 0.6rem;
}

.home_footer {
    padding: 4rem;
    padding-bottom: 0.6rem;
}

.contact_footer {
    background: none;
    color: #ffF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.contact_footer:hover {
    color: aqua;
}


.contact_footer:focus {
    box-shadow: none;
    outline: none;
}

/* .home_footer .container-fluid .row {
    margin-bottom: 5rem;
} */

.copyright p {
    color: #fff;
}

.home_footer ul li {
    padding: 0.8rem 0.2rem;
}

.home_footer ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.home_footer ul li a:hover {
    color: aqua;
}

.home_footer h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.home_track {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 14px;
}

.home_track:hover {
    color: aqua;
    border: none;
    box-shadow: none;
}

.home_track:focus {
    box-shadow: none;
    border: none;
}

.order_status_text {
    font-size: 14px;
    font-family: emoji;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 600;
}

.track_btn {
    border-radius: 4px;
    background-color: #0747a9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.6rem;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
}

.track_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.track_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.track_btn:hover span {
    padding-right: 25px;
}

.track_btn:hover span:after {
    opacity: 1;
    right: 0;
}

.footer_logo {
    display: flex;
    justify-content: flex-end;
}

.footer_logo img {
    width: 100px;
    margin-top: 0.8rem;
    height: 100px;
}

.social_icons {
    display: flex;
    justify-content: flex-end;
}

.social_icons p {
    color: #fff;
    padding-left: 5px;
}

.social_icons .icon-group {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
}

.social_icons .icon-group .so_icn:nth-child(1) {
    color: #fff;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 5px;
}

.social_icons .icon-group .so_icn:nth-child(2) {
    background: #3b5998;
    color: #fff;
    border-radius: 5px;
    padding: 0;
}

.social_icons .icon-group .so_icn:nth-child(3) {
    background-color: #0072b1;
    color: #fff;
    border-radius: 5px;
}

/* Radio Button Start */
/* The radio-sec */
.radio-sec {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-sec input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-sec:hover input~.checkmark {
    background-color: #ccc;
}

.radio-sec input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-sec input:checked~.checkmark:after {
    display: block;
}

.radio-sec .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Radio Button Ends */

/* MEDIA QUERY START */
@media screen and (max-width: 1091px) {
    .menu .desktop-links ul li {
        margin-right: 2rem;
    }

    .desktop-menu ul li a {
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    .carrykar_steps p:nth-child(2) {
        color: #0849AA;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    }

    .trip_section {
        margin-top: 0;
        margin: 0;
        padding: 4rem 0rem;
        background-color: #e7f0f9;
    }

    .main_section .hero_section {
        position: relative;
        padding-bottom: 0rem;
    }

    .carrier_about_services {
        background: #E7F0F9;
        margin-top: 0rem;
    }

    .carrier_section {
        text-align: center;
        padding: 5rem;
        padding-top: 0rem;
    }

    .trip_search .form-inline .form-group:nth-child(2) {
        text-align: center;
    }

    .menu .desktop-links {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section.nav-sec {
        padding: 10px 0;
    }

    .carrier_section .card-deck {
        padding-top: 3rem;
        width: 100%;
    }

    .service_section .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .service_section .container img {
        width: 100px;
        height: 80px;
    }

    .footer_logo {
        color: #fff;
        display: flex;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 767px) {
    .about_section {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
    }

    .operational {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
    }

    .quetion-section {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
    }

    .carrier_section .card-deck {
        display: grid;
        grid-template-columns: auto;
    }

    .carrier_section .card {
        margin-bottom: 2rem;
    }

    .quetion-heading h3 {
        font-size: 25px;
        padding-bottom: 0;
    }

    .quetion-heading p {
        font-size: 16px;
    }

    .quetion-heading .que-mark {
        width: 4rem !important;
    }

    .trip_search .card .select_btn {
        width: 100%;
    }

    .about_section .container .abt_img {
        opacity: 0.5;
    }
}

@media screen and (max-width: 575px) {

    .hero_section .hero_section-div .txt_content {
        padding-top: 0rem;
        display: unset;
    }

}

@media screen and (max-width: 545px) {
    .carrier_section {
        text-align: center;
        padding: 5rem 0;
    }
}

@media screen and (max-width: 460px) {
    .trip_search .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .trip_search .card .select_btn {
        width: 120px !important;
        margin: 10px;
    }
}

@media screen and (max-width: 365px) {

    /* .trip_search .card {
        display: block;
    } */
    .trip_search .card .select_btn {
        width: 100px !important;
        margin: 10px;
    }
}