.premium_section {
    background: #e7f0f9;
    padding: 5rem 0rem;
}

.premium_section h3 {
    color: #1662BB;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48.0376px;
}
.express_section{
    background:#fff;
    padding: 5rem 0rem;
}

.express_section h3 {
    color: #1662BB;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48.0376px;
}

 .plt_text{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 4rem;
}

 .plt_text>div p {
    margin-bottom: 1.4rem;
}

 .plt_text img {
    width: auto;
    float: right;
    height: 200px;
}
.hero_section .hero_section-div .res_text h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px !important;
    color: #fff;
}
.hero_section .hero_section-div .res_text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px !important;
    color: #0747A9;
    font-size: 50px;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}
@media only screen and (max-width:991px) {
    .hero_section .hero_section-div .res_text {
        padding-top: 0rem;
        display: block;
        justify-content: center;
      }
     .plt_text{
        display: block;
    }
     .plt_text img {
        width: 90%;
        height: auto;
    }
     .plt_text>div{
        position: relative;
    }
    .ser-img-plt{
        display: flex;
        justify-content: center;
        position: absolute;
    }
}