.css-1p7vffv {
    padding: 15px;
}
.css-1gsv261 {
    border:none !important;
}
.css-19kzrtu{
    padding: 24px 9px 0px 9px !important;
}
.input-box{ 
    position: relative; 
    width: 100%;
}
.input-box input{ 
    display: block; 
    border: 1px solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 10px 20px; 
    width: 195px; 
}
.unit{ 
    position: absolute; 
    display: block; 
    right: 5px; 
    top: 30px; 
    z-index: 9; 
}

p{
  margin-bottom: 0rem;
}
.top_select_btns{
  background-color: #fff;
  color: #0747a9 !important;
  border: 1px solid #0747a9;
  border-radius: 20px;
  padding: 4px 10px;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  font-weight: normal !important;
  align-items: center;
  margin-right: 1rem;
}
.top_select_btns.active{
background-color: #0747a9;
color: #fff !important;
}
.trip_search_form .btn-group-toggle{
  display: flex;
  justify-content: space-between;
  width:380px;
}
@media only screen and (max-width:767px){
  .trip_search_form .btn-group-toggle{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
