.all_order_table {
    background: #f0eff5;
    height: 75vh;
}

.all_order_table .container-fluid {
    height: 100%;
    overflow: scroll;
}

.all_order_table .container-fluid .table_box {
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    margin: -10px 10px 16px 10px;
    background-color: #fff;
    padding: 8px;
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.40);
}

.all_order_table .badge {
    padding: 4px 10px;
}

.status_track_col {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #f9f9f8;
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
}
.tracking-card {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #f9f9f8;
}
.tracking-card .card-body {
    padding: 7px;
    height: 140px;
    overflow: scroll;
    scroll-behavior: smooth;
}

.tracking-card p{
    font-size: 16px;
    text-align: center;
    color: #333;
    border: 1px solid #f1d196;
    border-radius: 5px;
    background-color: #f1d196;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px;
    margin: 7px;
}
.tracking-card .card-body .card{
    padding: 10px 5px;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}