*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
.admin-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0747a9;
}
.admin-section{
  height: 242px;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
}
.user-login-section{
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
}
.partner-section{
  height: 250px;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
}
.forget .adminleftctn{
  display: flex;
  align-items: center;
  width: 100%;
}
.forget{
  height: 220px !important;
}
.forget .adminleftctn .my-form {
  padding-top: 10px;
  width: 100%;
}
.signup-section{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 1px 29px -5px rgba(0,0,0,0.75);
}
 .signup_form_cs{
  width: 100%;
}

.adminleftctn{
  height: 100%;
  background: #fff;
  box-shadow: 2px 0px 9px 0px rgba(255,255,255,0.27);
  -webkit-box-shadow: 2px 0px 9px 0px rgba(255,255,255,0.27);
  -moz-box-shadow: 2px 0px 9px 0px rgba(255,255,255,0.27);
}

.adminleftctn .my-form{
  padding-top: 10px;
}
.adminleftctn .my-form .wel-msg{
  display: flex;
  line-height: 2.8rem;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  justify-content:left;
  border-bottom: 2px solid rgb(237, 236, 236);
}
.adminleftctn .my-form .log-title{
  color: #141515;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.adminleftctn .my-form .footer-title{
  color: #141515;
  display: flex;
  align-items: centers;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.form-control:focus{
  box-shadow: none;
  outline: none;
  border:1px solid #0747a9 !important;
}
.signup-section .form-group{
  margin-bottom: 0rem;
}
.admin-section .login-form .form-group input:focus{
  outline: none;
  border: 1px solid #0747a9;
  border-radius: 0px;
}
.login-det .form-group input{
  width: 100%;
  color: rgb(101, 100, 100);
  font-size: 1rem;
  padding: 0.2rem 0.8rem !important;
  border: 1px solid grey;
  border-radius: 2px;
  height: auto !important;
  margin-bottom: 0rem !important;
}
.login-det .form-group input::placeholder{
  color: rgb(189, 185, 185);
  font-size: 14px;
  padding: 0rem;
  letter-spacing: 0.1px;
}
/* forget btn css */
.forget-btn{
  margin-left: auto;
  margin-top: 0.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.forget-btn a{
  font-size: 12px;
  margin-left: auto;
  color: #333;
  letter-spacing: 0px;
}
.forget-btn a:hover{
  text-decoration: none;
}
label{
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0rem;
}
.login-btn {
  background-color: #0747a9;
  color: #fff;
  width:100%;
  border:1px solid #0747a9;
  font-size: 0.8rem;
  border-radius:20px;
  font-weight: 500;
  padding: 6px;
  margin-bottom: 0.6rem;
  text-transform:uppercase;
  display: block;
  text-align: center;
  width: 100%;
  -webkit-box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.login-btn:hover{
      background-color:#0747a9;
      border:1px solid #0747a9;
      color: #fff;
      text-decoration: none;
}
/* sign up css */
.signup-create h3{
  font-weight: 600;
  font-size: 20px;
  /* color: rgba(255, 208, 0, 0.872); */
  color: #000;
  margin-bottom: 2rem;
}
.signup-create h3::after{
  content:'';
  display: block;
  border-top: 1px solid #16028bc2;
  width: 30%;
  line-height: 2px;
  margin-bottom: 0.6rem;
}
.signup-btn {
  background-color:#0747a9;
  border:1px solid #0747a9;
  color: #fff ;
  border-radius: 20px;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 6px;
  margin-bottom: 0.6rem;
  text-transform:uppercase;
  display: block;
  text-align: center;
  width: 100%;
  -webkit-box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.signup-btn:hover{
      background-color:#0747a9;
      border:1px solid #0747a9;
      color: #fff ;
      text-decoration: none;
}
.sign-footer{
  font-size: 12px !important;
  display: flex;
  justify-content: center;
}
.sign-footer button{
  background-color: transparent;
}
.sign-footer button:hover{
  background-color: transparent;
  color: #0747a9;
}


/* RIGHTSECTION CSS START */
.adminrightctn{
  width: 100%;
  justify-content: center;
  display: flex;
  width: 100% !important;
  opacity: 0.7;
  background:#000;
}
.adminrightctn .text_section{
  display: flex;
  color: #fff;
  align-items: center;
  text-align: center;
}
.adminrightctn .text_section h2{
  color: #fff;
}
.adminrightctn .text_section div{
  text-align: center;
}
.adminrightctn .text_section div img{
  margin-bottom: 3rem;
}
.adminrightctn .go_back_btn{
  color: #0747a9;
  background-color: #fff;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 2rem;
  font-weight: 500;
  padding: 6px;
  margin-bottom: 0.6rem;
  text-transform:uppercase;
  display: block;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow:0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.mob_sign_logo{
  display: none;
}
/* RIGHTSECTION CSS ENDS */
@media only screen and (max-width:991px){
  .signup-log .signup-create h3{
    margin-bottom: 0.6rem !important;
  }
  .signup-section{
    width: 100%;
  }
  .signup-log .login-det{
    margin-top: 0px !important;
  }
  
}
@media (max-width:767px) {
  .adminrightctn{
    display: none;
  }
  .signup-section{
    width: 60%;
  }
  .mob_sign_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
    background: transparent;
}
  .user-login-section{
    width:400px;
  }
}
@media (max-width:560px) {
  .signup-section{
    width: 100%;
  }
  .user-login-section{
    width: 100%;
  }
}